examples/schema/multiple/HelloWorld.xsd

<xsd:schema targetNamespace="urn:helloWorld/sample/ibm/HelloWorld"
            xmlns:tns="urn:helloWorld/sample/ibm/HelloWorld"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    elementFormDefault="qualified">

  <xsd:complexType name="helloType">
    <xsd:sequence>
      <xsd:element name="name" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="helloResponseType">
    <xsd:sequence>
      <xsd:element name="response" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
